<main>
  <h1>Swahili Semantic Diary</h1>

  <% if flash[:alert] %>
    <ul class="flash-alert">
      <li><%= flash[:alert] %></li>
    </ul>
  <% end %>

  <article class="sign-in-card">
    <%= form_for(@author, url: login_path) do |f| %>
      <%= f.text_field :email, :placeholder => "email", :autofocus => true  %>
      <%= f.password_field :password, :placeholder => "password" %>
      <%= f.submit "Log in" %>
    <% end %>

    <%= link_to "Login via Github", "auth/github"%>
  </article>
</main>
