<h1>Swahili Semantic Diary Sign In</h1>

<% if flash[:alert] %>
  <ul class="flash-alert">
    <li><%= flash[:alert] %></li>
  </ul>
<% end %>

<article class="sign-in-form">
  <%= form_for(@author, url: login_path) do |f| %>
    <ul class="form-fields">
      <li><%= f.label :email %></li>
      <li><%= f.text_field :email %></li>
    </ul>

    <ul class="form-fields">
      <li><%= f.label :password %></li>
      <li><%= f.text_field :password %></li>
    </ul>

    <section class="submit-button">
      <%= f.submit "Log in" %>
    </section>
  <% end %>
</article>
