<% if current_author.admin %>
  <%= button_to "Author List", authors_path, method: :get%>
<% end %>

<h1><%= "Edit #{possessive_display_name(@author)} Profile" %></h1>

<% if @author.errors.any? %>
  <ul class="errors">
    <% @author.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<article class="edit-form">
  <%= form_for(@author, url: author_path(@author)) do |f| %>
    <ul class="form-fields">
      <li><%= f.label :first_name %></li>
      <li><%= f.text_field :first_name %></li>
    </ul>

    <ul class="form-fields">
      <li><%= f.label :last_name %></li>
      <li><%= f.text_field :last_name %></li>
    </ul>

    <ul class="form-fields">
      <li><%= f.label :email %></li>
      <li><%= f.text_field :email %></li>
    </ul>

    <% if current_author.admin %>
      <ul class="form-fields">
        <li><%= f.label :admin%></li>
        <li><%= f.check_box :admin%></li>
      </ul>
  <% end %>

    <section class="submit-button">
      <%= f.submit "Update" %>
    </section>
  <% end %>
</article>

<% if !is_admin? %>
  <%= button_to "Cancel", author_stories_path(current_author), method: :get %>
<% end %>
