<main>
  <h1>Edit<%= " #{possessive_display_name(@author) if is_admin?}" %> Profile</h1>

  <%= render partial: "errors", locals: {author: @author} %>

  <article class="edit-card">
    <%= form_for(@author, url: author_path(@author)) do |f| %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :email %>

      <% if current_author.admin %>
        <div class="label-checkbox">
          <%= f.label :admin%>
          <%= f.check_box :admin%>
        </div>
      <% end %>

      <%= f.submit "Update" %>
      <% end %>

      <% if !is_admin? %>
        <%= button_to "Cancel", author_stories_path(current_author), method: :get %>
      <% end %>
  </article>
</main>
