<h1>Sign Up for Swahili Semantic Diary</h1>

<%= render partial: "authors/errors", locals: {author: @author} %>

<article class="sign-up-form">
  <%= form_for(@author, url: sign_up_path(@author)) do |f| %>
    <ul class="form-fields">
      <li><%= f.label :first_name %></li>
      <li><%= f.text_field :first_name %></li>
    </ul>

    <ul class="form-fields">
      <li><%= f.label :last_name %></li>
      <li><%= f.text_field :last_name %></li>
    </ul>

    <ul class="form-fields">
      <li><%= f.label :email %></li>
      <li><%= f.text_field :email %></li>
    </ul>

    <ul class="form-fields">
      <li><%= f.label :password %></li>
      <li><%= f.text_field :password %></li>
    </ul>

    <section class="submit-button">
      <%= f.submit "Sign Up" %>
    </section>
  <% end %>
</article>
