<main>
  <% if flash[:alert] %>
    <ul class="flash-alert">
      <li><%= flash[:alert] %></li>
    </ul>
  <% end %>

  <h1><%= link_to "#{@author.first_name}'s", edit_author_path(@author) %> Swahili Diary</h1>
  <% # render 'new' %>

  <h3><%= link_to "Write New Story",  new_author_story_path %></h3>
    <% @author.stories.reverse.each do |story| %>
      <article class="story-card">
        <h3><%= link_to story.story_title, new_story_word_path(story), method: :get %></h3>
        <p><%= story.story %></p>
        <button><%= link_to "Delete Story", author_story_path(current_author,story), method: :delete %></button>
      </article>
    <% end %>
</main>
