<h1> <%= "#{@author.first_name}'s" %> Swahili Diary</h1>
<button> <%= link_to "Edit Profile", edit_author_path(@author) %> </button>
<% # render 'new' %>

<% if is_admin? %>
  <%= button_to "Author List", authors_path, method: :get%>
<% end %>

<h2>Stories</h2>
<h3><%= link_to "Write New Story",  new_author_story_path %></h3>
<article>
  <% @author.stories.reverse.each do |story| %>
    <h3><%= link_to story.story_title, author_story_path(current_author, story), method: :get %></h3>
    <p><%= story.story %></p>
    <button><%= link_to "Delete Story", author_story_path(current_author,story), method: :delete %></button>
  <% end %>
</article>
