<article class="new-story-card">
  <h1>Write a New Swahili Diary Entry</h1>
  <%= form_for(@story), url: new_author_story(@story) do |f| %>
    <div class="story-fields">
      <%= f.label :story_title %>
      <%= f.text_field :story_title %>

      <%= f.label :story %>
      <%= f.text_area_tag(:story, "write your story here...") %>

      <%= f.submit "Publish Story" %>
    </div>
  <% end %>
</article>
