<main>
  <%= button_to("Your Stories", author_stories_path(current_author), method: :get) if !is_admin? %>

  <article class="story-card">
    <h1><%= current_story.story_title %></h1>
    <p><%= current_story.story %></p>
    <%= button_to("Edit", edit_author_story_path(current_author, current_story), method: :get) if !is_admin? %>
  </article>

  <article class="new-word-card">
    <h2>Glossary</h2>
    <% # form_with model: [@word, @gloss], local: true, cache: false do |f| %>
    <%= form_for(@word, url: story_words_path(current_story, @word)) do |f| %>
      <section class="new_word--input">
        <div>
          <%= f.label :lemma %>
          <%= f.text_field :lemma, :placeholder => "Swahili base word", :autofocus => true %>
        </div>
        <div>
          <%= f.fields_for :glosses, @word.glosses.build do |g| %>
            <%= g.label :gloss %>
            <%= g.text_field :gloss, :placeholder => "Gloss for this word" %>
            <%= g.hidden_field :story_id, :value => current_story.id %>
          <% end %>
        </div>
        <div>
          <%= f.label :notes %>
          <%= f.text_field :notes, :placeholder => "Plural, irregularity, etc." %>
        </div>
      </section>
      <section class="new_word--input">
        <div> 
          <%= f.label :lexical_category %>
          <%= f.select :lexical_category, ["noun", "pron", "verb", "adj", "adv", "prep", "conj", "det", "intj",""] %>
        </div>
        <div>
          <%= f.label :lemma_class %>
          <%= f.select :lemma_class, ["trans", "intrs", "m-/wa-", "m-/mi-", "ji-/ma-", "ki-/vi", "n-/n-", "u-/u-", "ku-", "pa-", ""] %>
        </div>
        <div>
          <%= f.label :origin %>
          <%= f.select :origin, ["Bantu", "Arabic", "Persian", "Hindi", "English", ""] %>
          <%= f.hidden_field :author_id, :value => current_author.id %>
        </div>
      </section>
      <%= f.submit "Add Word" %>
    <% end %>

    <% if !current_story.word_glosses.empty?  %>
      <article class="glossary-card">
        <% current_story.word_glosses.each do |word_gloss| %>
          <% w = word_gloss[:word] %>
          <% glosses = word_gloss[:glosses] %>

          <section class="lemma-card newspaper">
            <span class="lemma-card--delete"><%= link_to "x", story_word_path(current_story,w), method: :delete %></span>
            <span class="lemma-card--lemma"><%= w.lemma %></span>
            <span class="lemma-card--lexical-category"><%= w.lexical_category %></span>
            <span class="lemma-card--lemma-class"><%= w.lemma_class %></span>
            <span class="lemma-card--notes"><%= w.notes %></span>
            <span class="lemma-card--origin"><%= w.origin %></span>
            <p class="lemma-card--glosses"><%= glosses %></p>
          </section>
        <% end %>
      </article>
    <% end %>
  </article>

</main>
